{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для ввода новых расходников -->
{% if perms.tph_system.add_tech %}
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal-tech-form">
    Добавить Технику
</button>
{% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%; min-width: 1000px">
        <div class="card-header">
            <h4 class="card-title">
                Учет техники <br>

                <!-- Фильтр -->
                <div class="card card-body" id="cs_filter">
                    <form method="get">
                        Точка: {{ t_filter.form.store }}
                        Название техники: {{ t_filter.form.name }}
                        Серийный номер: {{ t_filter.form.serial_num }}
                        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Применить</button>
                    </form>
                </div>
            </h4>
        </div>

        <!-- Таблица техники -->
        <table class="table table-hover table-bordered align-middle" id="tableCons">
            <thead>
                <tr>
                    <th scope="col">Точка</th>
                    <th scope="col">Название техники</th>
                    <th scope="col">Серийный номер</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Дата покупки</th>
                    <th scope="col">Дата окончания гарантии</th>
                    <th scope="col">Дата изменения</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for t in page_obj %}
                <tr>
                    <td>{{ t.store }}</td>
                    <td>{{ t.name }}</td>
                    <td>{{ t.serial_num }}</td>
                    <td>{{ t.count }}</td>
                    <td>{{ t.date_buy }}</td>
                    {% if t.warranty_date != null %}
                        <td>{{ t.warranty_date }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ t.date_change }}</td>
                    <td>
                        <button type="button" class="btn btn-link">
                            <a href="{% url 'tech_update' t.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Модальное окно - ввод новой техники -->
        <div class="modal fade" id="modal-tech-form" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Добавление новой техники</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Форма ввода данных -->
                    <form method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.store }}<br>
                            {{ form.name }}<br>
                            {{ form.serial_num }}<br>
                            {{ form.count }}<br>
                            {{ form.date_buy }}<br>
                            <div class="form-error">{{ form.date_buy.errors }}</div>
                            {{ form.warranty_date }}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                            <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Пагинация -->
    <nav class="list-pages">
        <ul class="pagination justify-content-center" style="margin-top: 25px;">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                </li>
            {% endif %}
            {% if paginator.num_pages > 1 %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <li class="page-item">
                            {% if '?param' in request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                            {% else %}
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                </li>
            {% endif %}
        </ul>
    </nav>

</div>

{% endblock %}