asgiref==3.8.1
Django==5.0.6
django-axes==7.0.1
django-background-tasks==1.2.8
django-debug-toolbar==5.0.0a0
django-filter==24.3
django-scheduler==0.10.1
icalendar==6.1.0
psycopg2==2.9.10
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
sqlparse==0.5.2
tzdata==2024.2
