{% extends 'tph_system/base.html' %}

{% block title %}
<title>Ошибка 403 - недостаточно прав</title>
{% endblock title %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" id="upd_del_forms">
        <div class="card-header">
            <h4 class="card-title">Упс, не хватает прав</h4>
        </div>

        <div class="card-body" style="color: #ff2626">
            <!-- Текст ошибки -->
            <i>Недостаточно прав для просмотра страницы / выполнения действия</i><br>
            <button class="btn btn-warning" type="button" style="margin-top: 20px;"><a href="{% url 'main_page' %}">На главную страницу</a></button>
        </div>
    </div>
</div>
{% endblock %}