{% extends 'tph_system/base.html' %}

{% block title %}
<title>Ошибка 500 - ошибка сервера при обработке</title>
{% endblock title %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 50%;">
        <div class="card-header">
            <h4 class="card-title">Ошибка 500</h4>
        </div>

        <div class="card-body" style="color: #ff2626">
            <!-- Текст ошибки -->
            <i>Ошибка сервера. Cервер не может обработать ваш запрос. Информация в логах</i><br>
            <button class="btn btn-warning" type="button" style="margin-top: 20px;"><a href="{% url 'main_page' %}">На главную страницу</a></button>
        </div>
    </div>
</div>
{% endblock %}