{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" id="upd_del_forms">
        <div class="card-header">
            <h4 class="card-title">Удаление сотрудника</h4>
        </div>

        <div class="card-body">
            <!-- Форма удаления -->
            <form method="post" class="form-control">
                {% csrf_token %}
                Подтверждаете удаление сотрудника <b>{{ staff.f_name }} {{ staff.name }}</b> ?<br>
                <br>
                <button class="btn btn-danger" type="submit">Удалить</button>
                <a class="btn btn-warning" href="{% url 'staff_update' staff.id %}?{{ current_filter_params }}" role="button">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}