{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для ввода новых сотрудников -->
{% if perms.tph_system.add_staff %}
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal-staff-form">
        Новый Сотрудник
    </button>
{% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container container-fluid staffs">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <h4 class="card-title">
                Список сотрудников <br>

                <!-- Фильтр -->
                <div class="card card-body" id="s_filter">
                    <div class="container text-left">
                        <form method="get">
                            <div class="row">
                                <div class="col col-md-auto">Фамилия:<br>{{ s_filter.form.f_name }}</div>
                                <div class="col col-md-auto">Имя:<br>{{ s_filter.form.name }}</div>
                                <div class="col col-md-auto">Отчество:<br>{{ s_filter.form.o_name }}</div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="col col-md-auto">Дата найма:<br>{{ s_filter.form.date_empl }}</div>
                                <div class="col col-md-auto">Дата увольнения:<br>{{ s_filter.form.date_dism }}</div>
                                <div class="col col-md-auto">
                                    <button type="submit" class="btn btn-primary" style="margin-left: 0px; margin-top: 20px">Применить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </h4>
        </div>

        <!-- Таблица сотрудников -->
        <table class="table table-hover table-bordered align-middle" id="tableCons">
            <thead>
                <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Дата найма</th>
                    <th scope="col">Дата увольнения</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for st in staffs %}
                <tr>
                    <td>{{ st.f_name }} {{ st.name }} {{st.o_name}}</td>
                    <td>{{ st.date_empl }}</td>
                    {% if st.date_dism != null %}
                        <td>{{ st.date_dism }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        <button type="button" class="btn btn-link">
                            <a href="{% url 'staff_update' st.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Модальное окно - ввод новых сотрудников -->
        <div class="modal fade" id="modal-staff-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Добавление нового сотрудника</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Форма ввода данных -->
                    <form method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.f_name }}<br>
                            {{ form.name }}<br>
                            {{ form.o_name }}<br>
                            {{ form.date_empl }}<br>
                            {{ form.date_dism }}
                            <span>{{ error }}</span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                            <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}