{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" style="width: 30%;">
        <div class="card-header">
            <h4 class="card-title">Удаление сотрудника</h4>
        </div>

        <div class="card-body">
            <!-- Форма удаления -->
            <form method="post" class="form-control">
                {% csrf_token %}
                Подтверждаете удаление сотрудника <b>{{ staff.f_name }} {{ staff.name }}</b> ?<br>
                <br>
                <button class="btn btn-danger" type="submit">Удалить</button>
                <button class="btn btn-warning" type="button"><a href="{% url 'staff' %}">Отмена</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}