{% extends 'tph_system/base.html' %}

{% block head %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
    integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
    integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
<div class="data_left">
    <h1>Добавление нового сотрудника</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.f_name }}<br>
        {{ form.name }}<br>
        {{ form.o_name }}<br>
        {{ form.date_empl }}
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Добавить</button>
        <button class="btn btn-danger" type="reset" onclick="location.href = '{% url 'staff' %}';">Отмена</button>
    </form>
</div>

{% endblock %}