{% extends 'tph_system/base.html' %}

{% block content %}
<div class="container cont_store">
    <div class="card" style="width: 35%;">
        <div class="card-header">
            <h4 class="card-title">Список фототочек</h4>
        </div>

        <!-- Карточка точек -->
        <div class="card-body">
            <ul class="list-group">
                {% for s in stores %}
                <li class="list-group-item">
                    <p>{{ s.name }} - {{ s.short_name }}</p>
                </li>
                {% endfor %}
            </ul>

            <!-- Кнопка модального окна для ввода новых точек -->
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal-store-form"
                    style="margin-right: 25px; margin-top: 15px;">
                Новая точка
            </button>

            <!-- Кнопка для вызова страницы изменения данных точек -->
            <button class="btn btn-warning" style="margin-top: 15px;">
                <a href="#">Изменить список</a>
            </button>

            <!-- Модальное окно - ввод новых точек -->
            <div class="modal fade" id="modal-store-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Добавление новой точки</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- Форма ввода данных -->
                        <form method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ form.name }}<br>
                                {{ form.short_name }}
                                <span>{{ error }}</span>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Сохранить</button>
                                <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}