{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" style="width: 30%;">
        <div class="card-header">
            <h4 class="card-title">Изменение фототочки</h4>
        </div>

        <div class="card-body">
            <!-- Форма изменения данных -->
            <form method="post" class="form-control">
                {% csrf_token %}
                <i>Наименование:</i>
                {{ form.name }}
                <i>Короткое имя:</i>
                {{ form.short_name }} <br>
                <button class="btn btn-success" type="submit">Сохранить</button>
                <button class="btn btn-warning" type="button"><a href="{% url 'store' %}">Отмена</a></button>
                <button class="btn btn-danger" type="button" style="margin-left : 20px;"><a href="{%url 'store_delete' store.id %}">Удалить</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}