{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для ввода новых точек -->
{% if perms.tph_system.add_store %}
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal-store-form">
        Новая Точка
    </button>
{% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" id="store_card">
        <div class="card-header">
            <h4 class="card-title">Список фототочек</h4>
        </div>

        <!-- Карточка точек -->
        <div class="card-body">
            <ul class="list-group">
                {% for s in stores %}
                <li class="list-group-item">
                    <div class="row justify-content-md-center">
                        <div class="col">
                            <p>{{ s.name }} - {{ s.short_name }}</p>
                        </div>
                        <div class="col-md-auto">
                            <button type="button" class="btn btn-link">
                                <a href="{% url 'store_update' s.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <!-- Модальное окно - ввод новых точек -->
            <div class="modal fade" id="modal-store-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Добавление новой точки</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- Форма ввода данных -->
                        <form method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ form.name }}<br>
                                {{ form.short_name }}
                                <span>{{ error }}</span>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Сохранить</button>
                                <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}