{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card" style="width: 40%;">
        <div class="card-header">
            <h4 class="card-title">Удаление техники</h4>
        </div>

        <div class="card-body cont_store">
            <!-- Форма удаления -->
            <form method="post" class="form-control">
                {% csrf_token %}
                Подтверждаете удаление техники <b>{{ tech.name }}</b> c серийным номером <i>{{ tech.serial_num }}</i> ?<br>
                <br>
                <button class="btn btn-danger" type="submit">Удалить</button>
                <button class="btn btn-warning" type="button"><a href="{% url 'tech' %}">Отмена</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}