{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card" style="width: 40%;">
        <div class="card-header">
            <h4 class="card-title">Изменение техники</h4>
        </div>

        <div class="card-body">
            <!-- Форма изменения техники -->
            <form method="post" class="form-control">
                {% csrf_token %}
                <i>Точка:</i>
                {{ form.store }}
                <i>Название техники:</i>
                {{ form.name }}
                <i>Серийный номер:</i>
                {{ form.serial_num }}
                <i>Дата покупки:</i>
                {{ form.date_buy }}
                <i>Дата окончания гарантии:</i>
                {{ form.warranty_date }}<br>
                <button class="btn btn-success" type="submit">Сохранить</button>
                <button class="btn btn-warning" type="button"><a href="{% url 'tech' %}">Отмена</a></button>
                <button class="btn btn-danger" type="button" style="margin-left : 20px;"><a href="{% url 'tech_delete' tech.id %}">Удалить</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}