{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" style="width: 30%;">
        <div class="card-header">
            <h4 class="card-title">Изменение техники</h4>
        </div>

        <div class="card-body">
            <!-- Форма изменения техники -->
            <form method="post" class="form-control">
                {% csrf_token %}
                <b>Точка:</b>
                {{ form.store }}
                <b>Название техники:</b>
                {{ form.name }}
                <b>Серийный номер:</b>
                {{ form.serial_num }}
                <b>Количество:</b>
                {{ form.count }}
                <b>Дата покупки:</b>
                {{ form.date_buy }}
                <b>Дата окончания гарантии:</b>
                {{ form.warranty_date }}<br>
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Сохранить</button>
                <button class="btn btn-warning" type="button"><a href="{% url 'tech' %}">Отмена</a></button>
                <button class="btn btn-danger" type="button" style="margin-left : 20px;"><a href="{% url 'tech_delete' tech.id %}">Удалить</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}