{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для ввода новых расходников -->
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal-cons_store-form">
    Новый Расходник
</button>
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <h4 class="card-title">
                Расходники на точке <br>

                <!-- Фильтр -->
                <div class="card card-body" id="cs_filter">
                    <form method="get">
                        Точка: {{ cs_filter.form.store }}
                        Расходник: {{ cs_filter.form.consumable }}
                        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Применить</button>
                    </form>
                </div>
            </h4>
        </div>

        <!-- Таблица расходников -->
        <table class="table table-hover table-bordered align-middle" id="tableCons">
            <thead>
                <tr>
                    <th scope="col">Точка</th>
                    <th scope="col">Расходник</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Дата изменения</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for cn in con_store %}
                <tr>
                    <td>{{ cn.store }}</td>
                    <td>{{ cn.consumable }}</td>
                    <td>{{ cn.count }}</td>
                    <td>{{ cn.change_data }}</td>
                    <td>
                        <button type="button" class="btn btn-link">
                            <a href="{% url 'con_store_update' cn.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Модальное окно - ввод новых расходников -->
        <div class="modal fade" id="modal-cons_store-form" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Добавление нового расходника</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Форма ввода данных -->
                    <form method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.store }}<br>
                            {{ form.consumable }}<br>
                            {{ form.count }}<br>
                            {{ form.change_data }}
                            <span>{{ error }}</span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                            <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}