{% extends 'tph_system/base.html' %}
{% load static %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow col-xl-6 col-lg-8 col-md-10">
        <div class="card-header">
            <h4 class="card-title">
                {% if perms.tph_system.user_sales_view_all or inform_store_view_flag %}
                    Роли сотрудников на {{date}}
                {% else %}
                    Роли сотрудников на точке <i>{{store.name}}</i> на {{date}}
                {% endif %}
            </h4>
        </div>

        <!-- Таблица с формой изменения ролей -->
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-hover table-bordered align-middle" id="tableCons">
                <thead>
                    <tr>
                        <th scope="col">Сотрудник</th>
                        {% if perms.tph_system.user_sales_view_all or inform_store_view_flag %}
                        <th scope="col">Точка</th>
                        {% endif %}
                        <th scope="col">Роль</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>{{ form.instance.staff.name }} {{ form.instance.staff.f_name }}</td>
                        {% if perms.tph_system.user_sales_view_all or inform_store_view_flag %}
                        <td>{{ form.instance.store }}</td>
                        {% endif %}
                        <td>
                            {{ form.position }}
                            {# Скрытое поле для ID объекта #}
                            {{ form.id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="text-align: center; margin-bottom: 15px;">
                <button class="btn btn-success" type="submit">Сохранить</button>
                <a class="btn btn-warning" href="{% url 'sales' %}" role="button">Отмена</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}