{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для ввода продажи -->
{% if perms.tph_system.add_sales %}
    <li class="nav-item">
    {% if flag == 1 %}
        <a class="nav-link" href="{% url 'position_select' %}">
            <button type="button" class="btn btn-sm btn-warning">Выбрать роли на сегодня</button>
        </a>
    {% else %}
        <a class="nav-link" href="{% url 'position_select' %}">
            <button type="button" class="btn btn-sm btn-outline-warning">Выбрать роли на сегодня</button>
        </a>
    {% endif %}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sales_create' %}?{{ current_filter_params }}">
            <button type="button" class="btn btn-sm btn-outline-primary">Добавить Продажу</button>
        </a>
    </li>
{% endif %}
{% endblock func_buttons %}

{% block event_msg %}
{% if perms.tph_system.view_implevents %}
    <!-- Количество сотрудников без ролей -->
    {% if staff_without_role == 0 %}
            <a role="button" class="btn btn-sm btn-outline-success">
                Сотрудники без ролей ({{ staff_without_role }})
            </a>
        {% else %}
            <a role="button" class="btn btn-sm btn-warning">
                Сотрудники без ролей ({{ staff_without_role }})
            </a>
        {% endif %}
{% endif %}
{% endblock event_msg %}

{% block content %}
<div class="container container-fluid cont_store">
    <div class="card shadow" id="sales_table">
        <div class="card-header">
            <h4 class="card-title">
                Продажи <br>

                <!-- Фильтр -->
                <div class="card card-body" id="cs_filter">
                    <div class="container text-left">
                        <form method="get">
                            <div class="row">
                                {% if perms.tph_system.user_sales_view_all %}
                                    <div class="col col-md-auto">Точка:<br>{{ sale_filter.form.store }}</div>
                                    <div class="col col-md-auto">Даты c:<br>{{ sale_filter.form.date_from }}</div>
                                    <div class="col col-md-auto">Даты по:<br>{{ sale_filter.form.date_by }}</div>
                                {% endif %}
                                <div class="col col-md-auto">Что продали:<br>{{ sale_filter.form.sale_type }}</div>
                                <div class="col col-md-auto">Тип оплаты:<br>{{ sale_filter.form.payment_type }}</div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="col col-md-auto">Администратор:<br>{{ sale_filter.form.staff }}</div>
                                <div class="col col-md-auto">Фотограф:<br>{{ sale_filter.form.photographer }}</div>
                                <div class="col col-md-auto">Сумма:<br>{{ sale_filter.form.sum }}</div>
                                <div class="col col-md-auto">
                                    <button type="submit" class="btn btn-primary" style="margin-left: 0px; margin-top: 20px">Применить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </h4>
        </div>

        <div class="table-responsive">
            <!-- Таблица продаж -->
            <table class="table table-sm table-hover table-bordered align-middle caption-top" id="tableCons">
                <caption><b style="margin-left: 20px;"> Количество продаж: {{ count_sales }} </b></caption>
                <thead>
                    <tr>
                        <th scope="col">Точка</th>
                        <th scope="col">Дата продажи</th>
                        <th scope="col">Администратор</th>
                        <th scope="col">Фотограф</th>
                        <th scope="col">Что продали</th>
                        <th scope="col">Тип оплаты</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Количество фото/часов</th>
                        <th scope="col">Email клиента</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col">Создано</th>
                        <th scope="col">Изменено</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in page_obj %}
                    <tr>
                        <td>{{ sale.store }}</td>
                        <td>{{ sale.date }}</td>
                        <td>{{ sale.staff }}</td>
                        <td>{{ sale.photographer }}</td>
                        <td>{{ sale.sale_type }}</td>
                        <td>{{ sale.payment_type }}</td>
                        <td><u>{{ sale.sum|floatformat:"g" }}</u></td>
                        <td>{{ sale.photo_count|floatformat:"-2g" }}</td>
                        <td>{{ sale.cl_email }}</td>
                        <td>{{ sale.cl_phone }}</td>
                        <td>{{ sale.comment }}</td>
                        <td>{{ sale.date_created }}</td>
                        <td>{{ sale.date_upd }}</td>
                        <td>
                            <button type="button" class="btn btn-link">
                                <a href="{% url 'sales_update' sale.id %}?{{ current_filter_params }}">
                                    <img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <!-- Итоги продаж (мини таблица) -->
            <table class="table table-sm table-hover table-bordered align-middle caption-top">
                <caption><b style="margin-left: 20px;"> Итоги по продажам: </b></caption>
                <tbody>
                    <tr>
                        <th>Общая касса: {{ cashbx_all|floatformat:"g" }}</th>
                        <th>Безнал: {{ cashbx_card|floatformat:"g" }}</th>
                        <th>Наличные: {{ cashbx_cash|floatformat:"g" }}</th>
                        <th>QR и перевод: {{ cashbx_qr_p|floatformat:"g" }}</th>
                        <th>Заказы: {{ cashbx_orders|floatformat:"g" }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Модальное окно - ввод новых сотрудников -->
        <div class="modal fade" id="modal-staff-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Добавление нового сотрудника</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Форма ввода данных -->
                    <div class="container-fluid text-center">
                        <form method="post" class="form-control">
                            {% csrf_token %}
                            <div class="error_style" style="margin-bottom: 0px;">
                                {% for error in form.non_field_errors %}
                                    <i>{{error}}</i>
                                {% endfor %}
                            </div>
                            <div class="row row-cols-4">
                                {% for f in form %}
                                <div class="col-md-3">
                                    <p style="text-align: left;"><label class="form-label" for="{{ f.id_for_label }}"><b>{{ f.label }}:</b></label><br>{{ f }}</p>
                                    <div class="form-error">{{ f.errors }}</div>
                                </div>
                                <!-- Если мы хотим последний элемент - комментарий сделать длиннее в два раза (col-md-6), то надо убирать for и писать все руками -->
                                {% endfor %}
                            </div>
                            <button class="btn btn-success" type="submit">Сохранить</button>
                            <a class="btn btn-warning" href="" role="button">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Пагинация -->
    <nav class="list-pages">
        <ul class="pagination justify-content-center" style="margin-top: 25px;">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    {% if '?store' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                </li>
            {% endif %}
            {% if paginator.num_pages > 1 %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <li class="page-item">
                            {% if '?store' in request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                            {% else %}
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    {% if '?store' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Следующая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>

</div>

<!-- Скрипт для динамического изменения ширины контейнера в зависимости от ширины таблицы продаж -->
<!--<script>-->
<!--    $( document ).ready(function() {-->
<!--    var topWidth = $('#tableCons').width();-->
<!--    $('#sales_table').css('min-width', topWidth + 1.5 + 'px' );-->
<!--    });-->
<!--</script>-->

{% endblock %}