{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'salary_weekly' %}">
            <button type="button" class="btn btn-sm btn-warning">К зарплатам по неделям</button>
        </a>
    </li>
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <div class="card-title">
                <h4>Ошибки в работе системы</h4>

                <!-- Фильтр -->
                <div class="card card-body p-2" id="cs_filter">
                    <form method="get">
                        <div class="row gy-2 py-2 gy-xl-1 py-xl-1">
                            <div class="form-floating col-md-auto">
                                {{ err_filter.form.event_message}}
                                <label style="left: 0.5rem">Текст события</label>
                            </div>
                            <div class="col-md-auto align-self-center">
                                <button type="submit" class="btn btn-sm btn-primary">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Таблица с событиями -->
        <div class="table-responsive" style="max-height: 77vh; overflow-y: auto;">
            <table class="table table-sm table-hover table-bordered align-middle" id="tableCons">
                <thead style="position: sticky; top: 0; z-index: 10; background: white;">
                    <tr>
                        <th scope="col">Тип события</th>
                        <th scope="col">Текст события</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Решено</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ev in err_events %}
                    <tr>
                        <td>{{ ev.event_type }}</td>
                        <td>{{ ev.event_message }}</td>
                        <td>{{ ev.status }}</td>
                        <td>{{ ev.solved }}</td>
                        <td>{{ ev.date_created }}</td>
                        <td>
                            <button type="button" class="btn btn-link py-0">
                                <a href="{% url 'sal_events_update' ev.id %}?{{ current_filter_params }}">
                                    <img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}