{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
    <a role="button" class="btn btn-outline-warning" href="{% url 'salary' %}">
        Зарплаты по дням
    </a>
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%; min-width: 1000px">
        <div class="card-header">
            <h4 class="card-title">
                Ошибки в подсчете зарплат <br>

                <!-- Фильтр -->
                <div class="card card-body" id="cs_filter">
                    <form method="get">
                        Тип события: {{ err_filter.form.event_type}}
                        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Применить</button>
                    </form>
                </div>
            </h4>
        </div>

        <!-- Таблица с событиями -->
        <table class="table table-hover table-bordered align-middle" id="tableCons">
            <thead>
                <tr>
                    <th scope="col">Тип события</th>
                    <th scope="col">Текст события</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Решено</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for ev in err_events %}
                <tr>
                    <td>{{ ev.event_type }}</td>
                    <td>{{ ev.event_message }}</td>
                    <td>{{ ev.status }}</td>
                    <td>{{ ev.solved }}</td>
                    <td>{{ ev.date_created }}</td>
                    <td>
                        <button type="button" class="btn btn-link">
                            <a href="{% url 'sal_events_update' ev.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}