{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'salary_weekly' %}">
            <button type="button" class="btn btn-sm btn-warning">К зарплатам по неделям</button>
        </a>
    </li>
    <!-- Кнопка модального окна для ввода зарплат -->
    {% if perms.tph_system.add_salary %}
    <li class="nav-item">
        <a class="nav-link">
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-store-form">
                Добавить Запись
            </button>
        </a>
    </li>
    {% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%; min-width: 1000px">
        <div class="card-header">
            <h4 class="card-title">
                Зарплаты сотрудников по дням <br>

                <!-- Фильтр -->
                <div class="card card-body" id="cs_filter">
                    <form method="get">
                        {% if perms.tph_system.view_all_salary %}
                            Сотрудник: {{ s_filter.form.staff}}
                        {% endif %}
                        Дата: {{ s_filter.form.date}}
                        Зарплата: {{ s_filter.form.salary_sum}}
                        Точка: {{ s_filter.form.store }}
                        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Применить</button>
                    </form>
                </div>
            </h4>
        </div>

        <!-- Таблица с зарплатами -->
        <table class="table table-hover table-bordered align-middle caption-top" id="tableCons">
            <caption><b style="margin-left: 20px;"> Количество записей: {{ sal_count }} </b></caption>
            <thead>
                <tr>
                    <th scope="col">Сотрудник</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Касса сотрудника</th>
                    <th scope="col">Зарплата</th>
                    <th scope="col">Точка</th>
                    <th scope="col">Дата изменения</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for s in page_obj %}
                <tr>
                    <td>{{ s.staff }}</td>
                    <td>{{ s.date }}</td>
                    <td>{{ s.cash_box }}</td>
                    <td>{{ s.salary_sum|floatformat }}</td>
                    <td>{{ s.store }}</td>
                    <td>{{ s.date_upd }}</td>
                    <td>
                        <button type="button" class="btn btn-link">
                            <a href="{% url 'salary_update' s.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Модальное окно - ввод зарплат вручную -->
        <div class="modal fade" id="modal-store-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Новая запись с зарплатой</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Форма ввода данных -->
                    <form method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                                {{ form.staff }}<br>
                                {{ form.date }}<br>
                                {{ form.salary_sum }}<br>
                                <div class="form-error">{{ form.salary_sum.errors }}</div>
                                {{ form.store }}<br>
                                <div class="form-error">{{ form.non_field_errors }}</div>
                                <i>Касса сотрудника:</i>
                                {{ form.cash_box }}
                                <div class="form-error">{{ form.cash_box.errors }}</div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                            <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Пагинация -->
    <nav class="list-pages">
        <ul class="pagination justify-content-center" style="margin-top: 25px;">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                </li>
            {% endif %}
            {% if paginator.num_pages > 1 %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <li class="page-item">
                            {% if '?param' in request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                            {% else %}
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                </li>
            {% endif %}
        </ul>
    </nav>

</div>

{% endblock %}