{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" style="width: 50%; min-width: 500px">
        <div class="card-header">
            <h4 class="card-title">Функция рассчитывает зарплату сотрудников за указанный ниже период по дням</h4>
        </div>

        <div class="card-body">
            <!-- Форма для ввода периода расчета -->
<!--            <form method="post" class="form-control">-->
<!--                {% csrf_token %}-->
<!--                Подтверждаете удаление записи с зарплатой сотрудника <b>{{ salary.staff }}</b> за дату <i>{{ salary.date }}</i> ?<br>-->
<!--                <br>-->
<!--                <button class="btn btn-danger" type="submit">Удалить</button>-->
<!--                <a class="btn btn-warning" href="{% url 'salary' %}" role="button">Отмена</a>-->
<!--            </form>-->
        </div>
    </div>
</div>
{% endblock %}