{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" id="upd_del_forms">
        <div class="card-header">
            <h4 class="card-title"> {{card_title}} </h4>
        </div>

        <div class="card-body">
            <!-- Форма удаления -->
            <form method="post" class="form-control">
                {% csrf_token %}
                Подтверждаете удаление записи с зарплатой сотрудника <b>{{ salary.staff }}</b> за дату <i>{{ salary.date }}</i> ?<br>
                <br>
                <button class="btn btn-danger" type="submit">Удалить</button>
                <a class="btn btn-warning" href="{% url 'salary_update' salary.id %}" role="button">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}