{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" id="upd_del_forms">
        <div class="card-header">
            <h4 class="card-title">{{ card_title }} {{finstatsmonth.date|date:"F Y"}}</h4>
        </div>

        <div class="card-body">
            <!-- Форма изменения данных -->
            <form method="post" class="form-control">
                {% csrf_token %}
                <div class="error_style">
                    {% for error in form.non_field_errors %}
                        <i>{{error}}</i>
                    {% endfor %}
                </div>
                <i>{{form.expenses.label}}:</i><br>
                {{form.expenses}}
                <div class="form-error">{{ form.expenses.errors }}</div>
                <br>
                <button class="btn btn-success" type="submit">Сохранить</button>
                <a class="btn btn-warning" href="{% url 'fin_stats' %}" role="button">Отмена</a>
                <a class="btn btn-danger" style="margin-left : 20px;" href="{% url 'fin_stats_delete' finstatsmonth.id %}" role="button">Удалить</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}