{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
{% if perms.tph_system.calculate_finstatsmonth %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'fin_stats_calc' %}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Рассчитать финансы за период</button>
        </a>
    </li>
{% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <h4 class="card-title">
                Финансы - компания <br>

                <!-- Фильтр -->
                <div class="card card-body" id="cs_filter">
                    <form method="get">
                        <div class="row gy-sm-0 py-sm-0 gy-2 py-2">
                                <div class="col-md-auto">
                                    Отчетный месяц: {{ stats_filter.form.date }}
                                </div>
                                <div class="col-md-auto">
                                    <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Применить</button>
                                </div>
                            </div>
                    </form>
                </div>
            </h4>
        </div>

        <!-- Таблица с Финансами - компания -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered align-middle" id="tableCons">
                <thead>
                    <tr>
                        <th scope="col">Отчетный месяц</th>
                        <th scope="col">Выручка (Кассы)</th>
                        <th scope="col">Зарплаты</th>
                        <th scope="col">Расходы</th>
                        <th scope="col">Прибыль</th>
                        <th scope="col">Дата изменения</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in stats %}
                    <tr>
                        <td>{{ s.date|date:"F Y" }}</td>
                        <td>{{ s.revenue|floatformat:"g" }}</td>
                        <td>{{ s.salaries|floatformat:"g" }}</td>
                        <td>{{ s.expenses|floatformat:"g" }}</td>
                        <td>{{ s.profit|floatformat:"g" }}</td>
                        <td>{{ s.date_updated }}</td>
                        <td>
                            <button type="button" class="btn btn-link">
                                <a href="{% url 'fin_stats_update' s.id %}?{{ current_filter_params }}">
                                    <img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container cont_store" style="margin-top: 0px;">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <h4 class="card-title">
                Финансы - сотрудники <br>

                <!-- Фильтр -->
                <div class="card card-body" id="s_filter">
                    <form method="get">
                        <div class="row gy-sm-0 py-sm-0 gy-2 py-2">
                            <div class="col-md-auto">
                                Отчетный месяц: {{ stats_staff_filter.form.date }}
                            </div>
                            <div class="col-md-auto">
                                Сотрудник: {{ stats_staff_filter.form.staff}}
                            </div>
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </h4>
        </div>

        <!-- Таблица с Финансами - сотрудники -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered align-middle" id="tableFin">
                <thead>
                    <tr>
                        <th scope="col">Отчетный месяц</th>
                        <th scope="col">Сотрудник</th>
                        <th scope="col">Касса</th>
                        <th scope="col">Зарплата</th>
                        <th scope="col">Дата изменения</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in page_obj_st %}
                    <tr>
                        <td>{{ s.date|date:"F Y" }}</td>
                        <td>{{ s.staff }}</td>
                        <td>{{ s.cash_box|floatformat:"g" }}</td>
                        <td>{{ s.salary|floatformat:"g" }}</td>
                        <td>{{ s.date_updated }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Пагинация -->
    <nav class="list-pages">
        <ul class="pagination justify-content-center" style="margin-top: 25px;">
            {% if page_obj_st.has_previous %}
                <li class="page-item">
                    {% if '?date' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj_st.previous_page_number }}">Предыдущая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj_st.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                </li>
            {% endif %}
            {% if paginator_st.num_pages > 1 %}
                {% for p in paginator_st.page_range %}
                    {% if page_obj_st.number == p %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj_st.number|add:-2 and p <= page_obj_st.number|add:2  %}
                        <li class="page-item">
                            {% if '?date' in request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                            {% else %}
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj_st.has_next %}
                <li class="page-item">
                    {% if '?date' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj_st.next_page_number }}">Следующая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj_st.next_page_number }}">Следующая</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}
