{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для ввода настроек -->
{% if perms.tph_system.add_settings %}
    <li class="nav-item">
        <a class="nav-link">
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-store-form">
                Добавить Настройку
            </button>
        </a>
    </li>
{% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <h4 class="card-title">
                Настройки <br>

                <!-- Фильтр -->
                <div class="card card-body" id="cs_filter">
                    <form method="get">
                        <div class="row gy-sm-0 py-sm-0 gy-2 py-2">
                            <div class="col-md-auto">
                                Параметр: {{ s_filter.form.param }}
                            </div>
                            <div class="col-md-auto">
                                Описание: {{ s_filter.form.param_f_name}}
                            </div>
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </h4>
        </div>

        <!-- Таблица с настройками -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered align-middle caption-top" id="tableCons">
                <caption><b style="margin-left: 20px;"> Если вы скорректировали какие-нибудь настройки, надо обязательно перезапустить сервер. Иначе для системы настройки останутся прежними. </b></caption>
                <caption><b style="margin-left: 20px;"> Количество настроек: {{ set_count }} </b></caption>
                <thead>
                    <tr>
                        <th scope="col">Параметр</th>
                        <th scope="col">Значение</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Дата изменения</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in page_obj %}
                    <tr>
                        <td>{{ s.param }}</td>
                        <td>{{ s.value|floatformat:"g" }}</td>
                        <td>{{ s.param_f_name|truncatechars:80 }}</td>
                        <td>{{ s.date_upd }}</td>
                        <td>
                            <button type="button" class="btn btn-link">
                                <a href="{% url 'set_update' s.id %}?{{ current_filter_params }}">
                                    <img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Модальное окно - ввод новых точек -->
        <div class="modal fade" id="modal-store-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Новый параметр</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Форма ввода данных -->
                    <form method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                                {{ form.param }}<br>
                                {{ form.value }}<br>
                                {{ form.param_f_name }}
                                <span>{{ error }}</span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                            <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Пагинация -->
    <nav class="list-pages">
        <ul class="pagination justify-content-center" style="margin-top: 25px;">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    {% if '?param' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                </li>
            {% endif %}
            {% if paginator.num_pages > 1 %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <li class="page-item">
                            {% if '?param' in request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                            {% else %}
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    {% if '?param' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Следующая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>

</div>

{% endblock %}
