{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" id="upd_del_forms">
        <div class="card-header">
            <h4 class="card-title"> {{card_title}} </h4>
        </div>

        <div class="card-body">
            <!-- Форма удаления -->
            <form method="post" class="form-control">
                {% csrf_token %}
                Подтверждаете удаление записи о снятии наличных <b>{{cashwithdrawn.withdrawn}}</b> сотрудника <i>{{cashwithdrawn.staff}}</i> ?<br>
                <br>
                <button class="btn btn-danger" type="submit">Удалить</button>
                <button class="btn btn-warning" type="button"><a href="{% url url_cancel %}">Отмена</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}