{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'salary' %}">
            <button type="button" class="btn btn-sm btn-warning">Зарплаты по дням</button>
        </a>
    </li>
    {% if perms.tph_system.calculate_salary %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'salary_calculation' %}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Рассчитать зарплату за период</button>
        </a>
    </li>
    {% endif %}
    {% if perms.tph_system.view_all_salary %}
        <li class="nav-item">
        {% if err_events_count == 0 %}
            <a class="nav-link" href="{% url 'sal_events' %}">
                <button type="button" class="btn btn-sm btn-outline-success">Ошибки выполнения ({{ err_events_count }})</button>
            </a>
        {% else %}
            <a class="nav-link" href="{% url 'sal_events' %}">
                <button type="button" class="btn btn-sm btn-danger">Ошибки выполнения ({{ err_events_count }})</button>
            </a>
        {% endif %}
        </li>
        <!-- Кол-во записей в зарплатах наличными, где не указана неделя за которую забрали ЗП -->
        <li class="nav-item">
        {% if sal_withdrawn_err == 0 %}
            <a class="nav-link" href="{% url 'cash_withdrawn' %}">
                <button type="button" class="btn btn-sm btn-outline-success">Ошибки в зарплате наличными ({{ sal_withdrawn_err }})</button>
            </a>
        {% else %}
            <a class="nav-link" href="{% url 'cash_withdrawn' %}">
                <button type="button" class="btn btn-sm btn-danger">Ошибки в зарплате наличными ({{ sal_withdrawn_err }})</button>
            </a>
        {% endif %}
        </li>
        <!-- Сообщения о системных ошибках -->
        <li class="nav-item" >
        {% if sys_errors_count == 0 %}
            <a class="nav-link" href="{% url 'sal_events' %}">
                <button type="button" class="btn btn-sm btn-outline-success">Системные ошибки ({{ sys_errors_count }})</button>
            </a>
        {% else %}
            <a class="nav-link" href="{% url 'sal_events' %}">
                <button type="button" class="btn btn-sm btn-danger">Системные ошибки ({{ sys_errors_count }})</button>
            </a>
        {% endif %}
        </li>
    {% endif %}
{% if perms.tph_system.view_checkreports %}
    <li class="nav-item">
        <div class="nav-link dropdown">
            <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Экспорт
            </button>
            <ul class="dropdown-menu">
<!--                <li><a class="dropdown-item" href="?{{ request.GET.urlencode }}&_export=csv">CSV</a></li>-->
                <li><a class="dropdown-item" href="?{{ request.GET.urlencode }}&_export=xlsx">Excel</a></li>
            </ul>
        </div>
    </li>
{% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <div class="card-title">
                <h4>Зарплаты сотрудников по неделям</h4>

                <!-- Фильтр -->
                <div class="card card-body p-3" id="cs_filter">
                    <form method="get">
                        <div class="row gy-2 py-2 gy-md-0 py-md-0">
                            {% if perms.tph_system.view_all_salary %}
                            <div class="form-floating col-md-auto">
                                    {{ sw_filter.form.staff}}
                                <label for="floatingStaff" style="left: 0.5rem">Сотрудник</label>
                            </div>
                            {% endif %}
                            <div class="form-floating col-md-auto">
                                {{ sw_filter.form.week_begin}}
                                <label for="floatingWB" style="left: 0.5rem">Дата начала недели</label>
                            </div>
                            <div class="form-floating col-md-auto">
                                {{ sw_filter.form.paid_out}}
                                <label for="floatingPO" style="left: 0.5rem">Выплачено</label>
                            </div>
                            <div class="col-md-auto align-self-center">
                                <button type="submit" class="btn btn-sm btn-primary">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Таблица с зарплатами -->
        {% if paginator.num_pages > 1 %}
        <div class="table-responsive" style="max-height: 72vh; overflow-y: auto;">
        {% else %}
        <div class="table-responsive" style="max-height: 76vh; overflow-y: auto;">
        {% endif %}
            <table class="table table-sm table-hover table-bordered align-middle caption-top" id="tableCons">
                <caption><b style="margin-left: 20px;"> Количество записей: {{ sal_week_count }} </b></caption>
                <thead style="position: sticky; top: 0; z-index: 10; background: white;">
                    <tr>
                        <th scope="col">Сотрудник</th>
                        <th scope="col">Неделя</th>
                        <th scope="col">Касса</th>
                        <th scope="col">Зарплата</th>
                        <th scope="col">Забрали наличными</th>
                        <th scope="col">Осталось выплатить</th>
                        <th scope="col">Выплачено</th>
                        <th scope="col">Дата изменения</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in page_obj %}
                    <tr>
                        <td>{{ s.staff }}</td>
                        <td>{{ s.week_begin|date:"d M" }} - {{ s.week_end|date:"d M" }}</td>
                        <td>{{ s.cash_box_week|floatformat:"g" }}</td>
                        <td>{{ s.salary_sum|floatformat:"g" }}</td>
                        <td>{{ s.cash_withdrawn|floatformat:"g" }}</td>
                        <td>{{ s.to_pay|floatformat:"g" }}</td>
                        <td>{{ s.paid_out }}</td>
                        <td>{{ s.date_updated }}</td>
                        <td>
                            <button type="button" class="btn btn-link py-0">
                                <a href="{% url 'salary_w_upd' s.id %}?{{ current_filter_params }}">
                                    <img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Пагинация -->
    <nav class="list-pages">
        {% if paginator.num_pages > 1 %}
        <ul class="pagination pagination-sm justify-content-center" style="margin-top: 1rem; margin-bottom: 0px">
        {% else %}
        <ul class="pagination pagination-sm justify-content-center" style="margin-top: 0px; margin-bottom: 0px">
        {% endif %}
            {% if page_obj.has_previous %}
                <li class="page-item">
                    {% if '?staff' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                </li>
            {% endif %}
            {% if paginator.num_pages > 1 %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <li class="page-item">
                            {% if '?staff' in request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                            {% else %}
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    {% if '?staff' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Следующая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>

</div>

{% endblock %}