{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" id="upd_del_forms">
        <div class="card-header">
            <h4 class="card-title">Изменение расходника</h4>
        </div>

        <div class="card-body">
            <!-- Форма изменения расходника -->
            <form method="post" class="form-control">
                {% csrf_token %}
                <div class="error_style">
                    {% for error in form.non_field_errors %}
                        <i>{{error}}</i>
                    {% endfor %}
                </div>

                <p><label class="form-label"><i>{{ form.store.label }}:</i></label><br>{{ form.store }}</p>
                <div class="form-error">{{ form.store.errors }}</div>
                <p><label class="form-label"><i>{{ form.consumable.label }}:</i></label><br>{{ form.consumable }}</p>
                <div class="form-error">{{ form.consumable.errors }}</div>
                {% if perms.tph_system.consumables_view_all_stores %}
                    <p><label class="form-label"><i>{{ form.cons_short.label }}:</i></label><br>{{ form.cons_short }}</p>
                    <div class="form-error">{{ form.cons_short.errors }}</div>
                {% endif %}
                <p><label class="form-label"><i>{{ form.count.label }}:</i></label><br>{{ form.count }}</p>
                <div class="form-error">{{ form.count.errors }}</div>

                <button class="btn btn-success" type="submit">Сохранить</button>
                <a class="btn btn-warning" href="{% url 'cons_store' %}?{{ current_filter_params }}" role="button">Отмена</a>
                <a class="btn btn-danger" style="margin-left : 20px;"
                   href="{% url 'con_store_delete' consumablesstore.id %}?{{ current_filter_params }}" role="button">Удалить</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}