{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container cont_store">
    <div class="card shadow" id="upd_del_forms">
        <div class="card-header">
            <h4 class="card-title">Удаление расходника</h4>
        </div>

        <div class="card-body">
            <!-- Форма удаления -->
            <form method="post" class="form-control">
                {% csrf_token %}
                Подтверждаете удаление расходника <b>{{ consumablesstore.consumable }}</b> c точки <i>{{ consumablesstore.store }}</i>?<br>
                <br>
                <button class="btn btn-danger" type="submit">Удалить</button>
                <a class="btn btn-warning" href="{% url 'con_store_update' consumablesstore.id %}" role="button">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}