{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для ввода новых расходников -->
{% if perms.tph_system.add_consumablesstore %}
    <li class="nav-item">
        <a class="nav-link">
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-cons_store-form">
                Добавить Расходник
            </button>
        </a>
    </li>

{% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <div class="card-title">
                <h4>Расходники на точке</h4>

                <!-- Фильтр -->
                <div class="card card-body p-2" id="cs_filter">
                    <div class="container text-left">
                        <form method="get">
                            <div class="row gy-2 py-2 gy-xl-1 py-xl-1">
                                <div class="form-floating col-md-auto">
                                    {% if perms.tph_system.consumables_view_all_stores %}
                                    {{ cs_filter.form.store }}
                                    <label style="left: 0.5rem">Точка</label>
                                    {% endif %}
                                </div>
                                <div class="form-floating col-md-auto">
                                    {{ cs_filter.form.consumable }}
                                    <label style="left: 0.5rem">Расходник</label>
                                </div>
                                <div class="col-md-auto align-self-center">
                                    <button type="submit" class="btn btn-sm btn-primary">Применить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Таблица расходников -->
        {% if paginator.num_pages > 1 %}
        <div class="table-responsive" style="max-height: 72vh; overflow-y: auto;">
        {% else %}
        <div class="table-responsive" style="max-height: 77vh; overflow-y: auto;">
        {% endif %}
            <table class="table table-sm table-hover table-bordered align-middle caption-top" id="tableCons">
                <caption><b style="margin-left: 20px;"> Количество расходников: {{ cons_count }} </b></caption>
                <thead style="position: sticky; top: 0; z-index: 10; background: white;">
                    <tr>
                        <th scope="col">Точка</th>
                        <th scope="col">Расходник</th>
                        {% if perms.tph_system.consumables_view_all_stores %}
                            <th scope="col">Короткое имя</th>
                        {% endif %}
                        <th scope="col">Количество</th>
                        <th scope="col">Дата изменения</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cn in page_obj %}
                    <tr>
                        <td>{{ cn.store }}</td>
                        <td>{{ cn.consumable }}</td>
                        {% if perms.tph_system.consumables_view_all_stores %}
                            <td>{{ cn.cons_short }}</td>
                        {% endif %}
                        <td>{{ cn.count|floatformat }}</td>
                        <td>{{ cn.change_data }}</td>
                        <td>
                            <button type="button" class="btn btn-link py-0">
                                <a href="{% url 'con_store_update' cn.id %}?{{ current_filter_params }}">
                                    <img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Модальное окно - ввод новых расходников -->
        <div class="modal fade" id="modal-cons_store-form" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Добавление нового расходника</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Форма ввода данных -->
                    <form method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.store }}<br>
                            {{ form.consumable }}<br>
                            {{ form.cons_short }}<br>
                            {{ form.count }}
                            <div class="form-error">{{ form.count.errors }}</div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                            <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Пагинация -->
    <nav class="list-pages">
        {% if paginator.num_pages > 1 %}
        <ul class="pagination pagination-sm justify-content-center" style="margin-top: 1rem; margin-bottom: 0px">
        {% else %}
        <ul class="pagination pagination-sm justify-content-center" style="margin-top: 0px; margin-bottom: 0px">
        {% endif %}
            {% if page_obj.has_previous %}
                <li class="page-item">
                    {% if '?store' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                </li>
            {% endif %}
            {% if paginator.num_pages > 1 %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <li class="page-item">
                            {% if '?store' in request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                            {% else %}
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    {% if '?store' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Следующая</a>
                    {% else %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>

</div>

{% endblock %}