
/* Головное меню и т.д */
head {      /* Настройки минимального размера экрана сайта для navbar*/
    min-width: 320px
}

.navbar-dark .navbar-brand {      /* Цвет названия navbar */
    color: #000000;
}

.navbar-nav .dropdown-menu {     /* Настройки для выпадающего списка "Пользователь" справа */
    right: 0;
    left: auto;
}

/* aside - часть base в body, для левой панели и может футера (его пока нет) */
aside #leftpanel {   /* Левая менюшка */
    float: left;
    font-size: 20px;
    background:#d8c3a5;  /* Цвет боковой панели меню */
    width: 17%;
    height: 100vh;
    border-right: 6px solid #8e8d8a;    /* Цвет вертикальной линии меню */
}

aside img {
    float: left;
    width: 30px;
}

aside ul li:hover, aside ul a:hover {
    color: #e85a4f;                    /* Цвет ссылок меню при наведении */
    transform: scale(1.05);            /* Эффекты */
    transition: all 0.1s ease;
}

.nomarker {   /* Класс для правильного отображения в ul */
    list-style-type: none;
    margin: 0
}

aside .nomarker li {   /* Стили списка меню слева */
    margin: 25px 0;
    position: relative;
    left: -1%;
}

aside .nomarker a {    /* Стили ссылок меню слева */
    text-decoration: none;
    position: relative;
    color: #470020;           /* Цвет ссылок меню */
    padding-left: 10px;
}

/* Контент */
body {
    background: #eae7dc;  /* Основной цвет фона контента */
}

main {
    background-color: #eae7dc;  /* Цвет Main */
}

main .cont_store .list-group {     /* Стили для списка точек */
    pading: 1%;
    text-align: left;
}

main .cont_store  a {    /* Стиль для ссылок в .data_left (Используется в кнопках со ссылками...) */
    text-decoration: none;
    position: relative;
    color: #1a401f;
}

main .cont_store .card-body{
    text-align: center;
}

form {    /* Стили формы ввода данных (в модальном окне поля)  */
    margin-top: 0px;
}

main .staffs, .cont_store{    /* Стили для изменения всего контейнера с сотрудниками */
    padding: 1%;
    float: left;
    /* margin-top: 69px;      Отступ сверху, из-за фиксированного навбара */
    font-size: 15px;
    max-width: 100%;
}

main .staffs  a {    /* Стиль для ссылок в .staffs (Используется в кнопках со ссылками...) */
    text-decoration: none;
    position: relative;
    color: #1a401f;
}

main #cs_filter, #s_filter {     /* Стили для фильтров данных в таблицах */
    text-align: left;
    padding: 1%;
    float: left;
    margin-top: 10px;
    font-size: 15px;
}

#upd_del_forms, #store_card, #main_view_card, #main_view_card2 {
    width: 500px;
}

#main_view_card3 {
    width: 1025px;
}

main .sale_add_cont {
    padding: 1%;
    float: left;
    /* margin-top: 0px;      Отступ сверху, из-за фиксированного навбара */
    font-size: 15px;
    max-width: 100%;
}

main #sales_table {
    font-size: 15px;
}

#sale_add_form {        /* Стили для карточки добавления продажи */
    text-align: left;
    float: left;
}

#main_tip_for_staff {
    width: 1025px;
}

.cont_login {
    position: relative;
    text-align: center;
    float: center;
    margin-top: 15%;
    font-size: 15px;
    width: 500px;
}

.error_style {
    color: #ff2626;
}

.errorlist {
    list-style-type: none;
    color: #ff2626;
}
