
/* Головное меню и т.д */
head {      /* Настройки минимального размера экрана сайта для navbar*/
    min-with: 320px
}

.navbar-dark .navbar-brand {      /* Цвет названия navbar */
    color: #000000;
}

.navbar-nav .dropdown-menu {     /* Настройки для выпадающего списка "Пользователь" справа */
    right: 0;
    left: auto;
}

/* aside - часть base в body, для левой панели и может футера (его пока нет) */
aside {   /* Левая менюшка */
    float: left;
    font-size: 20px;
    background:#d8c3a5;  /* Цвет боковой панели меню */
    width: 18%;
    height: 100vh;
    border-right: 6px solid #8e8d8a;    /* Цвет вертикальной линии меню */
}

aside img {
    float: left;
    width: 30px;
}

aside ul li:hover, aside ul a:hover {
    color: #e85a4f;                    /* Цвет ссылок меню при наведении */
    transform: scale(1.05);            /* Эффекты */
    transition: all 0.1s ease;
}

.nomarker {   /* Класс для правильного отображения в ul */
    list-style-type: none;
    margin: 0
}

aside .nomarker li {   /* Стили списка меню слева */
    margin: 25px 0;
    position: relative;
    left: -1%;
}

aside .nomarker a {    /* Стили ссылок меню слева */
    text-decoration: none;
    position: relative;
    width: 100%;
    color: #470020;           /* Цвет ссылок меню */
    padding-left: 10px;
}

/* Контент */
body {
    background: #eae7dc;  /* Основной цвет фона контента */
}

main {
    background-color: #eae7dc;  /* Цвет Main */
}

main .cont_store {  /* Стили для изменения всего контейнера с точками */
    padding: 1%;
    float: left;
    margin-top: 0px;
    font-size: 18px;
}

main .cont_store .list-group {     /* Стили для списка точек */
    pading: 1%;
    text-align: left;
}

main .cont_store  a {    /* Стиль для ссылок в .data_left (Используется в кнопках со ссылками...) */
    text-decoration: none;
    position: relative;
    color: #1a401f;
}

main .cont_store .card-body{
    text-align: center;
}

form {    /* Стили формы ввода данных (в модальном окне поля)  */
    margin-top: 0px;
}

main .staffs, .cont_store{    /* Стили для изменения всего контейнера с сотрудниками */
    padding: 1%;
    float: left;
    margin-top: 0px;
    width: 100%;
    font-size: 18px;
}

main .staffs  a, .cont_store a {    /* Стиль для ссылок в .staffs (Используется в кнопках со ссылками...) */
    text-decoration: none;
    position: relative;
    color: #1a401f;
}

main #staffList, #consList {     /* Стили для карточки сотрудников - список сотрудников */
    text-align: left;
    padding: 1%;
    float: left;
    margin-top: 0px;
    font-size: 18px;
}

main #staffData,#consData {      /* Стили для карточки сотрудников - подробные данные */
    text-align: center;
    padding: 1%;
    float: left;
    margin-top: 0px;
    font-size: 18px;
}

main #staffList {
    width: 35%;
}

main #staffData {
    width: 65%;
}

main #consList {
    width: 45%;
}

main #consData {
    width: 55%;
}