{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для ввода новых примеров -->
{% if perms.tph_system.add_refsandtips %}
    <li class="nav-item">
        <a class="nav-link">
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-tip-form">
                Добавить Пример
            </button>
        </a>
    </li>
{% endif %}
{% if perms.tph_system.main_page_view_cards %}
    <li class="nav-item">
        <a class="nav-link">
            <div class="card text-primary border-primary" style="width: 160px;">
                <div class="card-header">
                    Дата в карточках:
                </div>
                <!-- Форма для выбора даты -->
                <div class="card-body">
                    <form method="get" id="date-filter-form">
                        {{ date_filter.form.selected_date }}
                    </form>
                </div>
            </div>
        </a>
    </li>
{% endif %}
{% endblock func_buttons %}

{% block event_msg %}
{% if perms.tph_system.view_implevents %}
    <!-- Сообщения об ошибках выполнения бизнес функций -->
    {% if err_events_count == 0 %}
            <a role="button" href="{% url 'sal_events' %}" class="btn btn-sm btn-outline-success" style="margin-right: 10px;">
                Ошибки выполнения ({{ err_events_count }})
            </a>
        {% else %}
            <a role="button" href="{% url 'sal_events' %}" class="btn btn-sm btn-warning my-xl-0 my-1" style="margin-right: 10px;">
                Ошибки выполнения ({{ err_events_count }})
            </a>
        {% endif %}
    <!-- Сообщения о системных ошибках -->
    {% if sys_errors_count == 0 %}
        <a role="button" href="{% url 'sal_events' %}" class="btn btn-sm btn-outline-success my-xl-0 my-1">
            Системные ошибки ({{ sys_errors_count }})
        </a>
    {% else %}
        <a role="button" href="{% url 'sal_events' %}" class="btn btn-sm btn-danger">
            Системные ошибки ({{ sys_errors_count }})
        </a>
    {% endif %}
{% endif %}
{% endblock event_msg %}

{% block content %}

<!-- Модальное окно - добавление примера -->
<div class="modal fade" id="modal-tip-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Добавление примера</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Форма ввода данных -->
            <form method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.title }}<br>
                    {{ form.tip }}<br>
                    {{ form.refs }}
                    <span>{{ error }}</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                    <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container cont_store">
    {% if perms.tph_system.main_page_view_cards %}
    <div class="row align-items-start gy-3">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6">
            <div class="card shadow" id="store_card">
                <div class="card-header">
                    <h4 class="card-title">Кто {{ now_date|date:"d.m.Y" }} работает на точках: </h4>
                </div>

                <!-- Карточка с информацией о том, кто работает на точках -->
                <div class="card-body">
                    <ul class="list-group">
                        {% regroup sch by store as sch_list %}
                        {% for s in sch_list %}
                        <li class="list-group-item">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <i>{{ s.grouper }}</i>
                                </div>
                                <div class="col-6">
                                    {% for stf in s.list %}
                                        {{ stf.staff }} <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6">
            <div class="card shadow" id="main_view_card">
                <div class="card-header">
                    <h4 class="card-title">Кассы за {{ now_date|date:"d.m.Y" }}: </h4>
                </div>

                <!-- Карточка с кассами за сегодня -->
                <div class="card-body">
                    <ul class="list-group">
                        {% for store, summ in dic.items %}
                        <li class="list-group-item">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <i>{{ store }}</i>
                                </div>
                                <div class="col-auto">
                                    {{ summ|floatformat:"g" }}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        {% if cashbx_all != 0 %}
                        <li class="list-group-item">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <b>Итого за день</b>
                                </div>
                                <div class="col-auto">
                                    <b>{{ cashbx_all|floatformat:"g" }}</b>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>

    <div class="row align-items-start gy-3" style="margin-top: 4px;">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6" >
            <div class="card shadow" id="withdrawn_card">
                <div class="card-header">
                    <h4 class="card-title">Забрали зарплату наличными {{ now_date|date:"d.m.Y" }}: </h4>
                </div>

                <!-- Карточка с информацией о том, кто забрал зарплату наличными -->
                <div class="card-body">
                    <ul class="list-group">
                        {% regroup wdr by store as wdr_list %}
                        {% for s in wdr_list %}
                        <li class="list-group-item">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <i>{{ s.grouper }}</i>
                                </div>
                                <div class="col-7">
                                    {% for stf in s.list %}
                                    <div class="row justify-content-md-center">
                                        <div class="col">
                                            {{ stf.staff }}
                                        </div>
                                        <div class="col-4">
                                            {{ stf.withdrawn }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6">
            <div class="card shadow" id="zak_card">
                <div class="card-header">
                    <h4 class="card-title">Количество заказов {{ now_date|date:"d.m.Y" }}: </h4>
                </div>

                <!-- Карточка с количеством заказов за день -->
                <div class="card-body">
                    <ul class="list-group">
                        {% for store, zak in zak_cnt.items %}
                        <li class="list-group-item">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <i>{{ store }}</i>
                                </div>
                                <div class="col-6">
                                    {% for item in zak %}
                                    <div class="row justify-content-md-center">
                                        <div class="col">
                                            {{ item.sale_type }}
                                        </div>
                                        <div class="col-2">
                                            {{ item.zak_count }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        {% if zak_all != 0 %}
                        <li class="list-group-item">
                            <div class="row justify-content-md-center">
                                <div class="col">
                                    <b>Заказов за день</b>
                                </div>
                                <div class="col-1">
                                    <b>{{ zak_all }}</b>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">

        </div>
    </div>

    <div class="card shadow col-xxl-8 col-xl-10" id="main_view_card3" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card-header">
            <h4 class="card-title">Изменение фототехники на точках за {{ now_date|date:"d.m.Y" }}: </h4>
        </div>

        <!-- Карточка с историей изменения техники -->
        <div class="card-body">
            <ul class="list-group">
                {% for t in tech_upd_info %}
                <li class="list-group-item">
                    {{ t.event_message }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card shadow col-xxl-6 col-xl-8 col-lg-10" id="main_view_card2" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="card-header">
            <h4 class="card-title">Заканчивающиеся расходники: </h4>
        </div>

        <!-- Карточка с заканчивающимися расходниками -->
        <div class="card-body">
            <ul class="list-group">
                {% regroup con_store by store as con_list %}
                {% for c in con_list %}
                <li class="list-group-item">
                    <div class="row justify-content-md-center">
                        <div class="col-5">
                            <i>{{ c.grouper }}</i>
                        </div>
                        <div class="col">
                            {% for con in c.list %}
                                <u><a href="{% url 'con_store_update' con.id %}">{{ con.consumable }}</a></u> - {{ con.count|floatformat:"g" }}
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if perms.tph_system.view_refsandtips %}
    <div class="card shadow col-xxl-8 col-xl-10" id="main_tip_for_staff" style="margin-bottom: 20px">
        <div class="card-header">
            <h4 class="card-title">Примеры ФОТО Лазерлэнд: </h4>
        </div>

        <!-- Карточка с содержимым -->
        <div class="card-body">
            <ul class="list-group">
                {% for t in ll_tips %}
                <li class="list-group-item">
                    <div class="row justify-content-md-center">
                        <div class="col">
                            {{ t.tip }}
                        </div>
                        <div class="col-md-auto">
                            <a href="{{ t.refs }}" style="color: #2373fc;">{{ t.refs }}</a>
                        </div>
                        {% if perms.tph_system.main_page_edit_tips %}
                        <div class="col-md-auto">
                            <button type="button" class="btn btn-link">
                                <a href="{% url 'tips_update' t.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card shadow col-xxl-8 col-xl-10" id="main_tip2_for_staff">
        <div class="card-header">
            <h4 class="card-title">Примеры ФОТО Бигвол: </h4>
        </div>

        <!-- Карточка с содержимым -->
        <div class="card-body">
            <ul class="list-group">
                {% for bw in bw_tips %}
                <li class="list-group-item">
                    <div class="row justify-content-md-center">
                        <div class="col">
                            {{ bw.tip }}
                        </div>
                        <div class="col-md-auto">
                            <a href="{{ bw.refs }}" style="color: #2373fc;">{{ bw.refs }}</a>
                        </div>
                        {% if perms.tph_system.main_page_edit_tips %}
                        <div class="col-md-auto">
                            <button type="button" class="btn btn-link">
                                <a href="{% url 'tips_update' bw.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Обработка выбора даты
    $('#id_selected_date').on('change', function() {
        document.getElementById('date-filter-form').submit(); // Отправка формы
    });
});
</script>

{% endblock %}