{% extends 'tph_system/base.html' %}

{% block content %}

<div class="container sale_add_cont">
    <div class="card shadow col-auto" id="sale_add_form">
        <div class="card-header">
            <h4 class="card-title">{{ card_title }}</h4>
        </div>

        <div class="card-body">
            <!-- Форма добавления записи о выдаче зп налом -->
            <div class="container-fluid text-center">
                <form method="post" class="form-control">
                    {% csrf_token %}
                    <div class="error_style" style="margin-bottom: 10px;">
                        {% for error in form.non_field_errors %}
                            <i>{{error}}</i>
                        {% endfor %}
                    </div>
                    <p style="text-align: left;"><label class="form-label" for="{{ form.store.id_for_label }}"><b>{{ form.store.label }}:</b></label>{{ form.store }}</p>
                    <div class="form-error">{{ form.store.errors }}</div>
                    <p style="text-align: left;"><label class="form-label" for="{{ form.staff.id_for_label }}"><b>{{ form.staff.label }}:</b></label>{{ form.staff }}</p>
                    <div class="form-error">{{ form.staff.errors }}</div>
                    <p style="text-align: left;"><label class="form-label" for="{{ form.date.id_for_label }}"><b>{{ form.date.label }}:</b></label>{{ form.date }}</p>
                    <div class="form-error">{{ form.date.errors }}</div>
                    {% if cash_on_store.0.cash_evn != None %}
                        <p class="text-primary">На точке сейчас <b>{{ cash_on_store.0.cash_evn }}</b> наличных</p>
                    {% endif %}
                    <p style="text-align: left;"><label class="form-label" for="{{ form.withdrawn.id_for_label }}"><b>{{ form.withdrawn.label }}:</b></label>{{ form.withdrawn }}</p>
                    <div class="form-error">{{ form.withdrawn.errors }}</div>
                    <p style="text-align: left;"><label class="form-label" for="{{ form.week_beg_rec.id_for_label }}"><b>{{ form.week_beg_rec.label }}:</b></label>{{ form.week_beg_rec }}</p>
                    <div class="form-error">{{ form.week_beg_rec.errors }}</div>
                    <p style="text-align: left;"><label class="form-label" for="{{ form.comment.id_for_label }}"><b>{{ form.comment.label }}:</b></label>{{ form.comment }}</p>
                    <div class="form-error">{{ form.comment.errors }}</div>
                    <button class="btn btn-success" type="submit">Сохранить</button>
                    <a class="btn btn-warning" href="{% url url_cancel %}?{{ current_filter_params }}" role="button">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}