{% extends 'tph_system/base.html' %}
{% load static %}

{% block func_buttons %}
<!-- Кнопка модального окна для добавления записи о снятии наличных -->
{% if perms.tph_system.add_cashwithdrawn %}
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal-tech-form">
    Забрать наличные
</button>
{% endif %}
{% endblock func_buttons %}

{% block content %}
<div class="container cont_store">
    <div class="card shadow" style="width: 100%; min-width: 1000px">
        <div class="card-header">
            <h4 class="card-title">
                История выдачи наличных <br>

                <!-- Фильтр -->
                <div class="card card-body" id="cs_filter">
                    <form method="get">
                        Точка: {{ c_filter.form.store }}
                        Сотрудник: {{ c_filter.form.staff }}
                        Дата: {{ c_filter.form.date }}
                        Сумма: {{ c_filter.form.withdrawn }}
                        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Применить</button>
                    </form>
                </div>
            </h4>
        </div>

        <!-- Таблица с данными -->
        <table class="table table-hover table-bordered align-middle" id="tableCons">
            <thead>
                <tr>
                    <th scope="col">Точка</th>
                    <th scope="col">Сотрудник</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Забрали наличными</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for c in page_obj %}
                <tr>
                    <td>{{ c.store }}</td>
                    <td>{{ c.staff }} </td>
                    <td>{{ c.date }}</td>
                    <td>{{ c.withdrawn }}</td>
                    <td>
                        <button type="button" class="btn btn-link">
                            <a href="{% url 'c_w_update' c.id %}"><img src="{% static 'tph_system/images/i_edit.png' %}" style="width: 25px" alt="Изменить"></a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Модальное окно - ввод новых списаний -->
        <div class="modal fade" id="modal-tech-form" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Забрать наличные</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Форма ввода данных -->
                    <form method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.store }}<br>
                            <div class="form-error">{{ form.store.errors }}</div>
                            {{ form.staff }}<br>
                            {{ form.date }}<br>
                            {{ form.withdrawn }}
                            <div class="form-error">{{ form.withdrawn.errors }}</div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                            <button  class="btn btn-danger" type="reset" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Пагинация -->
    <nav class="list-pages">
        <ul class="pagination justify-content-center" style="margin-top: 25px;">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                </li>
            {% endif %}
            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active">
                        <a class="page-link" href="">{{ p }}</a>
                    </li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                </li>
            {% endif %}
        </ul>
    </nav>

</div>

{% endblock %}